n8n/Error_Handler_Subworkflow.json
{
  "name": "Error Handler Subworkflow",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "={{ $json.success }}"
            },
            {
              "name": "failures",
              "value": "={{ $json.failures || [] }}"
            },
            {
              "name": "context",
              "value": "={{ $json.context || 'Unknown' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.failures.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-condition",
      "name": "Check for Failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "to": "admin@yourdomain.com",
        "subject": "={{ $json.context }} - Error Alert - LinguistNow",
        "text": "=An error occurred during {{ $json.context }}:\n\nFailures:\n{{ JSON.stringify($json.failures, null, 2) }}\n\nContext: {{ $json.context }}\nSuccess: {{ $json.success }}\nTotal Failures: {{ $json.failures.length }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credential-id",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "={{ $json.context }} completed successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success",
      "name": "Set Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Set Input Variables": {
      "main": [
        [
          {
            "node": "Check for Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Failures": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
