n8n/FX_Rate_Update.json
{
  "name": "FX Rate Update",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Daily 8AM UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:5000/api/currency/refresh",
        "options": {
          "timeout": 300000
        },
        "continueOnFail": true
      },
      "id": "http-request",
      "name": "Call Refresh Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "success",
              "value": "={{ $json.base ? 1 : ($json.error ? 0 : 0) }}"
            }
          ],
          "json": [
            {
              "name": "failures",
              "value": "={{ $json.error ? [{ error: $json.error, details: $json.details || $json.message || 'Unknown error' }] : ($json.base ? [] : [{ error: 'Request failed', details: JSON.stringify($json) }]) }}"
            },
            {
              "name": "context",
              "value": "\"FX Rate Update\""
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-data",
      "name": "Prepare Data for Subworkflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "workflowId": "Error_Handler_Subworkflow",
        "source": "database"
      },
      "id": "execute-workflow",
      "name": "Execute Error Handler Subworkflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 8AM UTC)": {
      "main": [
        [
          {
            "node": "Call Refresh Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Refresh Endpoint": {
      "main": [
        [
          {
            "node": "Prepare Data for Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Prepare Data for Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Subworkflow": {
      "main": [
        [
          {
            "node": "Execute Error Handler Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
