n8n/Token_Refresh_Schedule.json
{
  "name": "Token Refresh Schedule",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 1 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:5000/api/tokens/refresh-all",
        "options": {
          "timeout": 300000
        }
      },
      "id": "http-request",
      "name": "Call Refresh Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.failures.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-condition",
      "name": "Check for Failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "to": "admin@yourdomain.com",
        "subject": "Token Refresh Failures - LinguistNow",
        "text": "=The following token refreshes failed:\n\n{{ JSON.stringify($json.failures, null, 2) }}\n\nTotal processed: {{ $json.totalProcessed }}\nSuccessful: {{ $json.success }}\nFailed: {{ $json.failures.length }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credential-id",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "set-success",
      "name": "Set Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call Refresh Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Refresh Endpoint": {
      "main": [
        [
          {
            "node": "Check for Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Failures": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
